.sticky-top {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important; }

.sticky-bottom {
  position: -webkit-sticky !important;
  position: sticky !important;
  bottom: 0 !important; }
