@mixin sticky {
  position: -webkit-sticky !important; // required for Safari
  position: sticky !important;
}

.sticky-top {
  @include sticky;
  top: 0 !important;
}

.sticky-bottom {
  @include sticky;
  bottom: 0 !important;
}
